* {
    box-sizing: border-box;
    padding: 0;
    margin: 0px;
}


h2 {
  color: red;
}

.grid-item {
  display: flex;
  justify-content: center;
  border: 5px solid rgba(0, 0, 0, 0.2);
  margin: 5px auto;
  border-radius: 5px;
  font-size: 35px;
  background-color: aquamarine;
}